[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kaustubhoak
[access "refs/for/refs/*"]
	read = group user/kaustubhoak
	push = group user/kaustubhoak
	label-Code-Review = -2..+2 group user/kaustubhoak
	label-Verified = -1..+1 group user/kaustubhoak
	rebase = group user/kaustubhoak
	removeReviewer = group user/kaustubhoak
	submit = group user/kaustubhoak
[access "refs/heads/*"]
	read = group user/kaustubhoak
	create = group user/kaustubhoak
	push = +force group user/kaustubhoak
	pushMerge = group user/kaustubhoak
[access "refs/tags/*"]
	push = +force group user/kaustubhoak
	pushTag = group user/kaustubhoak
	pushSignedTag = group user/kaustubhoak
